/* ...existing styles... */
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");
/* Additional styles for animations */
.animate-fade-in {
  @apply animate-fade-in;
}

.animate-scroll {
  @apply animate-scroll;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(30 59 138 / 0.8);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
body{
  scrollbar-color: rgb(30 59 138 / 0.8) transparent;
}