---
const currentYear = new Date().getFullYear();
---

<footer class="bg-primary text-white">
  <div class="container mx-auto px-4 py-12">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div>
        <h3 class="text-xl font-bold mb-4">TechPI Solutions <span class="font-light">&reg;</span></h3>
        <p>Leading manufacturer of Cable Trays and Low Voltage Panels</p>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-4">Quick Links</h3>
        <ul class="space-y-2">
          <li><a href="/products" class="hover:text-accent">Products</a></li>
          <li><a href="/services" class="hover:text-accent">Services</a></li>
          <li><a href="/projects" class="hover:text-accent">Projects</a></li>
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-4">Contact</h3>
        <ul class="space-y-2">
          <li>Email: project.techpi@gmail.com</li>
          <li>Phone: +91 8197496989 | 7032901979</li>
          <li> <a href="https://maps.app.goo.gl/UffqnsTC94uSqSv97">Address: Plot No-977,IDA, Phase V, Rami Reddy Nagar, Jeedimetla, Hyderabad, Telangana,500055 📍</a> </li>
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-4">Certifications</h3>
        <ul class="space-y-2">
          <li><a href="/about#certificates" class="hover:text-accent">ISO 9001:2015</a></li>
          <li><a href="/about#certificates" class="hover:text-accent">CPRI Certified</a></li>
          <li><a href="/about#certificates" class="hover:text-accent">QRQ Certified</a></li>
        </ul>
      </div>
    </div>
    <div class="border-t border-gray-600 mt-8 pt-8 text-center">
      <p>&copy; {currentYear} TechPi Solutions. All rights reserved.</p>
      <p>Designed By Code Samaaj</p>
    </div>
  </div>
</footer>